.text-center {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .main .swiper-slide .slide-text, #about .content p, #expertise .items .item .item-description {
  font-family: 'Roboto';
  font-weight: 300;
}

.title {
  font-size: 22px;
  font-family: "Playfair Display";
  color: #413d4b;
  text-transform: uppercase;
}

.with-line::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #00e0d0;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.header .main .swiper-slide .slide-button, #about .content .button {
  color: #00e0d0;
  border: 2px solid #00e0d0;
  padding: 10px 15px;
  border-radius: 3px;
  font-family: 'Hammersmith One';
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: ease-out 200ms;
  transition: ease-out 200ms;
}

.header .main .swiper-slide .slide-button:hover, #about .content .button:hover {
  background-color: #00e0d0;
  color: #fff;
  -webkit-transition: ease-in 200ms;
  transition: ease-in 200ms;
}

body, ul, li, h1, h2, h3, h4, h5, h6, p, button {
  margin: 0;
  padding: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.container {
  padding: 0px 15px;
  margin: 0 auto;
  max-width: 1170px;
}

.container-full {
  max-width: 100%;
}

.header {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(9, 5, 47, 0.85)), to(rgba(49, 29, 94, 0.85))), url("../img/header-background.jpg");
  background: linear-gradient(to bottom right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)), url("../img/header-background.jpg");
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
}

.header .navbar__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.header .navbar__menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header .navbar__menu ul.links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header .navbar__menu ul.links li {
  list-style-type: none;
}

.header .navbar__menu ul.links li a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto";
  text-transform: uppercase;
  font-weight: 700;
  padding: 0px 10px;
  font-size: 13px;
  -webkit-transition: ease-out 200ms;
  transition: ease-out 200ms;
}

.header .navbar__menu ul.links li a:hover, .header .navbar__menu ul.links li a.active {
  color: #00e0d0;
  -webkit-transition: ease-in 200ms;
  transition: ease-in 200ms;
}

.header .main .swiper-container {
  width: 100%;
  height: 80vh;
}

.header .main .swiper-slide {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: -webkit-grab;
  cursor: grab;
}

.header .main .swiper-slide .slide-title {
  color: #fff;
  font-size: 32px;
  font-family: 'Playfair Display';
  font-weight: 900;
  margin-bottom: 35px;
}

.header .main .swiper-slide .slide-title::after {
  content: "";
  width: 50px;
  height: 2px;
  background: #00e0d0;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.header .main .swiper-slide .slide-text {
  color: #fff;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 2px;
}

.header .main .swiper-slide .slide-button {
  margin-top: 35px;
}

.header .main .swiper-pagination-bullet-active {
  background: #00e0d0;
}

#about {
  margin: 35px 0px;
}

#about .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#about .image {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  text-align: center;
}

#about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-left: 25px;
}

#about .content * {
  margin-bottom: 20px;
}

#about .content p {
  color: #413d4b;
  font-size: 14px;
  line-height: 24px;
  opacity: 0.85;
}

.video {
  background: -webkit-gradient(linear, left top, right bottom, from(rgba(9, 5, 47, 0.85)), to(rgba(49, 29, 94, 0.85))), url("../img/video-background.jpg");
  background: linear-gradient(to bottom right, rgba(9, 5, 47, 0.85), rgba(49, 29, 94, 0.85)), url("../img/video-background.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.video video {
  -o-object-fit: fill;
     object-fit: fill;
  width: 100%;
}

.button-play {
  background: none;
  border: none;
  cursor: pointer;
  outline: 0;
}

.button-play .icon {
  width: 75px;
  height: 75px;
  border: 2px solid #fff;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 20px;
  padding-left: 5px;
  margin: 0 auto;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: ease-out 1500ms;
  transition: ease-out 1500ms;
}

.button-play .icon img {
  width: 30px;
  height: 30px;
}

.button-play .text {
  color: #fff;
  text-transform: uppercase;
  margin-top: 20px;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 16px;
}

.button-play:hover .icon {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-transition: ease-in 500ms;
  transition: ease-in 500ms;
}

#expertise .with-line {
  margin-top: 20px;
  font-family: "Playfair Display";
  font-size: 14px;
  color: #2f2d35;
  opacity: 0.75;
  letter-spacing: 1px;
}

#expertise .items {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 35px;
}

#expertise .items .item {
  width: 33.333%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

#expertise .items .item:nth-child(3n) {
  border-right: 0px;
}

#expertise .items .item .item-title {
  font-weight: 900;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 14px;
  margin-top: 20px;
}

#expertise .items .item .item-description {
  text-align: center;
  line-height: 30px;
  opacity: 0.85;
  color: #333;
  margin: 15px 0px;
}
