
.title {
    font-size: $titleSize;
    font-family: $titleFont;
    color : $titleColor;
    text-transform: uppercase;
}
.with-line {
    &::after {
        content: "";
        width: 50px;
        height: 2px;
        background: $primaryColor;
        display: block;
        margin:0 auto;
        margin-top: 20px;        
    }  
}

%button {
    color : $primaryColor;
    border : 2px solid $primaryColor;
    padding: 10px 15px;
    border-radius: 3px;
    font-family: 'Hammersmith One';
    text-decoration: none;
    cursor: pointer;    
    @include transition(ease-out,200ms);
    &:hover {
        background-color : $primaryColor;
        color : #fff;
        @include transition(ease-in,200ms)
    }
}