
@import 'helpers';
@import 'variables';
@import 'colors';
@import 'fonts';
@import 'mixins';
@import 'elements';




// Reset
body, ul , li , h1,h2,h3,h4,h5,h6,p,button {
    margin: 0;
    padding : 0;
    user-select: none;
}

// Layout
.container {
    padding : 0px 15px;
    margin : 0 auto;
    max-width: 1170px;
}
.container-full {
    max-width: 100%;
}

// Header
.header {
    background : linear-gradient(to bottom right, rgba(9,5,47,0.85) , rgba(49,29,94,0.85)), url('../img/header-background.jpg');
    background-size: cover;
    background-position: center center;
    height:100vh; 
    .navbar {
        display:flex;
        flex-wrap: nowrap;
        align-items: center; 
        padding-top : 20px;  
       
    }  
    .navbar__logo {
        flex-shrink: 0;
    }
    .navbar__menu {
        flex-grow: 1;
        ul.links {
            display:flex;
            justify-content: flex-end;            
            li {
                list-style-type:none;
                a {
                    text-decoration: none;
                    color : #fff;
                    font-family: $menuFont; 
                    text-transform: uppercase;
                    font-weight:700;
                    padding : 0px 10px;
                    font-size:13px;
                    @include transition(ease-out,200ms );
                    &:hover,&.active{
                        color : $primaryColor;
                        @include transition(ease-in,200ms );
                    }              
                }
            }
        }
    }
    .main {
        .swiper-container {
            width:100%;
            height:80vh; 
        }
        .swiper-slide {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            cursor: grab;             
            .slide-title {
                color : #fff;
                font-size: 32px;
                font-family: 'Playfair Display';
                font-weight: 900;
                margin-bottom:35px;
                &::after {
                    content: "";
                    width: 50px;
                    height: 2px;
                    background: $primaryColor;
                    display: block;
                    margin: 0 auto;
                    margin-top: 10px;
                }            
            }
            .slide-text {
                color : #fff;    
                @extend %light;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 2px;           
            }
            .slide-button {
                margin-top: 35px;
                @extend %button;
            }
        }
        .swiper-pagination-bullet-active {
            background : $primaryColor;
        }
    }

}


// About section 
#about {    
    margin : 35px 0px ;
    .row {
        display:flex;
        justify-content: center;  
    }
    .image {       
        align-self: center;
        flex : 3;
        text-align: center;
    }
    .content {
        display: flex;      
        flex : 5;             
        flex-direction: column;
        align-items: flex-start;
        padding-left : 25px;
        * {
            margin-bottom : 20px;
        }
        p {
            @extend %light;
            color : $titleColor;
            font-size:14px;
            line-height: 24px;
            opacity: 0.85;
        }
        .button {
            @extend %button;
        }
    }
    
}
.video {
    background : linear-gradient(to bottom right, rgba(9,5,47,0.85) , rgba(49,29,94,0.85)), url('../img/video-background.jpg');
    background-size : cover ;
    background-position: center;
    height: 400px;
    margin-top:35px;
    display:flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    video {      
       object-fit: fill;
       width: 100%;
    }
}
.button-play {
    background: none;
    border:none;
    cursor: pointer;
    outline: 0;
    .icon {
        width: 75px;
        height:75px;
        border : 2px solid #fff;
        border-radius: 50%;
        box-sizing: border-box;
        padding-top: 20px;
        padding-left: 5px;
        margin:0 auto;
        transform : rotate(0deg);
        @include transition(ease-out, 1500ms);
      img {
          width:30px;
          height:30px;
      }
    }
    .text {
        color : #fff;
        text-transform: uppercase;
        margin-top:20px;
        font-family: $menuFont;
        font-weight: 900;
        font-size: 16px;
    }
    &:hover {
        .icon {
            transform : rotate(360deg);
            @include transition(ease-in, 500ms);
        }
    }
}

// Expertise section

#expertise {
    .with-line {
        margin-top:20px;
        font-family: $titleFont;
        font-size:14px;
        color : #2f2d35;
        opacity: 0.75;
        letter-spacing: 1px;
    }
    .items {
        flex-wrap: wrap;        
        margin-top:35px;
        .item {
            width : 33.333%;
            box-sizing: border-box;
            padding: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border-right : 1px solid #ccc;
            border-bottom : 1px solid #ccc;            
            &:nth-child(3n) {
                border-right: 0px;
            }
            .item-title {
                font-weight: 900;
                text-transform: uppercase;
                font-family: $menuFont;
                font-size: 14px;
                margin-top:20px;
            }
            .item-description {
                text-align: center;
                @extend %light;
                line-height: 30px;
                opacity : 0.85;
                color : #333;
                margin: 15px 0px;
            }
        }       
    }
}